{% extends "applayout.html" %}
{% load mytags %}
{% block title %}
    Tickets
{% endblock %}

{% block content %}
    <div class="tickets">
        {% for ticket in tickets %}
            <div class="ticket">
                <h4>Ticket {{ticket.pk}}</h4>
                <div class="info">
                    Submitted by <strong>{{ ticket.submitter }}</strong>
                    on <strong>{{ ticket.created_at|my_date:True }}</strong>
                </div>
                <h4>Description:</h4>
                <div class="body">
                    {{ ticket.body }}
                </div>
                <a href="{% url 'ticket' ticket.pk %}">View this ticket</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}