body, input, textarea {
    background: #444;
}
input, textarea {
     color: white;
     outline: none;
     border: solid grey 1px;
     font-size: 20px;
     margin: 5px;
}
.tickets {
    display: flex;
    flex-wrap: wrap;
}
.ticket {
    color: white
    margin: 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
}
.ticket > * {
    color: white
    padding: 0 20px;
}
.ticket h4 {
    margin: 20px 0px 5px 0;
}
.ticket a {
    color: black;
    margin-top: 10px;
    padding: 15px;
    display: block;
    border-radius: 5px;
    background: #fefefe;
}
.ticket a:hover {
    background: #333;
}